<h3>Cart Info</h3>
<!--Sets boarder for table-->
<table border="1">
    <tr>
        <!--Table headers-->
        <th>Option</th>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>

    <tr *ngFor="let item of items">
        <!--Table variables-->
        <td>{{item.product.id}}</td>
        <td>{{item.product.name}}</td>
        <td>
            <img src={{item.product.photo}} height= "50" width="50">
        </td>
        <td>{{item.product.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.product.price * item.quantity}}</td>
        <td><button mat-button (click) = "remove(item.product.id)">Remove</button></td>
    </tr>
    <tr>
        <td colspan="6" align="right">Total</td>
        <td>{{total}}</td>
    </tr>
</table>
<div class = "panel-footer">
<button mat-button class = "btn btn-primary" [routerLink]="['/menu']">Make Another Order</button>
<br>
<button mat-button class = "btn btn-primary" [routerLink]="['/info']">Checkout</button>
</div>

